<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--dao实现类(impl)配置文件-->
<mapper namespace="com.dao.ExaminationMapper" >
        <!--    建卡-->
       <insert id="creationCards" parameterType="com.model.Cards">
           INSERT INTO cards VALUES(NULL,#{cardsid},null,null,null,null,null,null,null,null,'否')
       </insert>
       <!--    查找卡号（验证卡号是否存在）-->
      <select id="findCardsid" parameterType="java.lang.String" resultType="java.lang.Integer">
          SELECT COUNT(*) FROM cards WHERE cardsid=#{cardsid}
      </select>

      <!--    护士开单-->
      <update id="updateCards" parameterType="com.model.Cards">
           UPDATE cards SET cname=#{cname} , sex=#{sex} , age=#{age} ,cdate=NOW(), telephone=#{telephone}, cprice=#{cprice} , teid=#{teid} , prid=#{prid},state='否' WHERE cid=#{cid}
      </update>
      <!--    查询所有卡片(空卡)-->
      <select id="selectAllCards" resultType="com.model.Cards">
          SELECT * FROM cards where cname IS NULL
      </select>

    <!--    查询体检人员信息（开单信息）-->
          <select id="nonemptyCards" resultMap="commodelCards">
                SELECT
                ca.cid,ca.cardsid,ca.cname,ca.cdate,ca.sex,ca.age,ca.telephone,ca.cprice,ca.state,
                te.tname,
                pr.pjname,pr.pjprice
                FROM cards ca
                LEFT JOIN team te ON ca.teid=te.teid
                LEFT JOIN project pr ON ca.prid=pr.prid
                WHERE ca.cname IS NOT NULL
<!--                <where>-->
<!--                    ca.cname IS NOT NULL-->
<!--                    <if test="cname!=null and cname!=''" >-->
<!--                        ca.cname like concat('%',#{ca.cname},'%')-->
<!--                   </if>-->
<!--                </where>-->
         </select>
        <resultMap id="commodelCards" type="com.dto.CardAndProjectAndTeam">
<!--            <result column="cname" property="cards.cname"></result>-->
            <result column="pjname" property="project.pjname"></result>
            <result column="pjprice" property="project.pjprice"></result>
            <result column="tname" property="team.tname"></result>
        </resultMap>

        <!--       结算费用-->
       <update id="updateState" parameterType="com.dto.CardAndProjectAndTeam">
             UPDATE cards ca,project pr SET ca.cprice=ca.cprice-pr.pjprice,ca.state='是' WHERE ca.prid=pr.prid AND ca.cid=#{cid}
       </update>
</mapper>